{% extends 'CoreBundle:Email:layout.html.twig' %}

{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tr>
            <td>

                <table cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="200" valign="top"></td>
                        <td width="200" valign="top"></td>
                        <td width="200" valign="top"></td>
                    </tr>
                </table>

                <a href="http://htmlemailboilerplate.com" target ="_blank" title="Styling Links" style="color: orange; text-decoration: none;">Coloring Links appropriately</a>
                <img class="image_fix" src="full path to image" alt="Your alt text" title="Your title text" width="x" height="x" />
                <span class="mobile_link">123-456-7890</span>

            </td>
        </tr>
    </table>
{% endblock %}