{% for flashMessage in app.session.flashbag.get('success') %}
    <div role="alert" class="alert alert-success alert-icon alert-border-color">
        <div class="icon"><span class="s7-check"></span></div>
        <div class="message">
            <span>{{ flashMessage|trans }}</span>
        </div>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div role="alert" class="alert alert-danger alert-icon alert-border-color">
        <div class="icon"><span class="s7-close-circle"></span></div>
        <div class="message">
            <span>{{ flashMessage|trans }}</span>
        </div>
    </div>
{% endfor %}
