<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
    <div class="row am-datatable-body">
        <div class="col-sm-12">
            <table class="table table-striped table-fw-widget table-hover">
                <thead>
                <tr role="row">
                    <th ng-repeat="column in ctrl.columns" role="columnheader" class="w-{{column.width}}" width="{{column.width}}%">{{column.name | translate}}</th>
                </tr>
                </thead>
                <tbody class="no-border-x">
                <tr ng-repeat="row in ctrl.data">
                    <td ng-repeat="column in ctrl.columns">{{row[column.field]}}</td>
                    <!--<td>ENG-STYLING-260916</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/20"><strong>Professional Food Styling</strong></a></td>-->
                    <!--<td>Monday, 26th September 2016</td>-->
                    <!--<td>Sunday, 26th March 2017</td>-->
                    <!--<td class="text-center">18</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ENG-STYLING-260916" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/20" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/20" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                </tr>
                <!--<tr>-->
                    <!--<td>ESP-STYLING-260916</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/21"><strong>Estilismo Culinario Profesional</strong></a></td>-->
                    <!--<td>Monday, 26th September 2016</td>-->
                    <!--<td>Sunday, 26th March 2017</td>-->
                    <!--<td class="text-center">25</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ESP-STYLING-260916" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/21" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/21" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ENG-FOOD-120916</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/15"><strong>Food Styling &amp; Photography</strong></a></td>-->
                    <!--<td>Monday, 12th September 2016</td>-->
                    <!--<td>Sunday, 12th March 2017</td>-->
                    <!--<td class="text-center">21</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ENG-FOOD-120916" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/15" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/15" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ESP-FOOD-120916</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/16"><strong>Estilismo y Fotografía Gastronómica</strong></a></td>-->
                    <!--<td>Monday, 12th September 2016</td>-->
                    <!--<td>Sunday, 12th March 2017</td>-->
                    <!--<td class="text-center">10</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ESP-FOOD-120916" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/16" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/16" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ENG-STILL-020916</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/5"><strong>Composition and Visual Perception</strong></a></td>-->
                    <!--<td>Friday, 2nd September 2016</td>-->
                    <!--<td>Thursday, 2nd March 2017</td>-->
                    <!--<td class="text-center">11</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ENG-STILL-020916" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/5" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/5" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ESP-STILL-020916</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/7"><strong>Composición y Percepción Visual</strong></a></td>-->
                    <!--<td>Friday, 2nd September 2016</td>-->
                    <!--<td>Thursday, 2nd March 2017</td>-->
                    <!--<td class="text-center">8</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ESP-STILL-020916" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/7" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/7" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ENG-FOOD-150716</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/3"><strong>Food Styling &amp; Photography</strong></a></td>-->
                    <!--<td>Friday, 15th July 2016</td>-->
                    <!--<td>Sunday, 15th January 2017</td>-->
                    <!--<td class="text-center">33</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ENG-FOOD-150716" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/3" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/3" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ESP-FOOD-150716</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/4"><strong>Estilismo y Fotografía Gastronómica</strong></a></td>-->
                    <!--<td>Friday, 15th July 2016</td>-->
                    <!--<td>Sunday, 15th January 2017</td>-->
                    <!--<td class="text-center">26</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ESP-FOOD-150716" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/4" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/4" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ENG-STILL-010616</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/1"><strong>Composition and Visual Perception</strong></a></td>-->
                    <!--<td>Wednesday, 1st June 2016</td>-->
                    <!--<td>Wednesday, 30th November 2016</td>-->
                    <!--<td class="text-center">26</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ENG-STILL-010616" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/1" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/1" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>ESP-STILL-010616</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/2"><strong>Composición y Percepción Visual</strong></a></td>-->
                    <!--<td>Wednesday, 1st June 2016</td>-->
                    <!--<td>Wednesday, 30th November 2016</td>-->
                    <!--<td class="text-center">40</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/ESP-STILL-010616" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/2" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/2" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>PREVIEW-ENG-STILL</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/8"><strong>[Preview] Composition and Visual Perception</strong></a></td>-->
                    <!--<td>Thursday, 1st January 2015</td>-->
                    <!--<td>Thursday, 31st December 2020</td>-->
                    <!--<td class="text-center">0</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/PREVIEW-ENG-STILL" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/8" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/8" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>PREVIEW-ESP-STILL</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/9"><strong>[Preview] Composición y Percepción Visual</strong></a></td>-->
                    <!--<td>Thursday, 1st January 2015</td>-->
                    <!--<td>Thursday, 31st December 2020</td>-->
                    <!--<td class="text-center">0</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/PREVIEW-ESP-STILL" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/9" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/9" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>PREVIEW-ENG-FOOD</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/10"><strong>[Preview] Food Styling &amp; Photography</strong></a></td>-->
                    <!--<td>Thursday, 1st January 2015</td>-->
                    <!--<td>Thursday, 31st December 2020</td>-->
                    <!--<td class="text-center">0</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/PREVIEW-ENG-FOOD" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/10" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/10" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>PREVIEW-ESP-FOOD</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/11"><strong>[Preview] Estilismo y Fotografía Gastronómica</strong></a></td>-->
                    <!--<td>Thursday, 1st January 2015</td>-->
                    <!--<td>Thursday, 31st December 2020</td>-->
                    <!--<td class="text-center">0</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/PREVIEW-ESP-FOOD" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/11" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/11" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>PREVIEW-ENG-STYLING</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/22"><strong>[Preview] Professional Food Styling</strong></a></td>-->
                    <!--<td>Thursday, 1st January 2015</td>-->
                    <!--<td>Thursday, 31st December 2020</td>-->
                    <!--<td class="text-center">0</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/PREVIEW-ENG-STYLING" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/22" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/22" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>PREVIEW-ESP-STYLING</td>-->
                    <!--<td><a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/23"><strong>[Preview] Estilismo Culinario Profesional</strong></a></td>-->
                    <!--<td>Thursday, 1st January 2015</td>-->
                    <!--<td>Thursday, 31st December 2020</td>-->
                    <!--<td class="text-center">0</td>-->
                    <!--<td class="text-center">-->
                        <!--<span class="icon s7-check"></span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn-toolbar">-->
                            <!--<div class="btn-group btn-space">-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/course/PREVIEW-ESP-STYLING" class="btn btn-default btn-xs" title="Preview" target="_blank"><i class="icon s7-look"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/edit/23" class="btn btn-default btn-xs" title="Edit"><i class="icon s7-pen"></i></a>-->
                                <!--<a href="http://learn.deliciousyetbeautiful.com/admin/course/duplicate/23" class="btn btn-default btn-xs" title="Duplicate"><i class="icon s7-copy-file"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="row am-datatable-footer">-->



        <!--<div class="col-sm-5">-->
            <!--<div class="dataTables_info" id="table3_info" role="status" aria-live="polite">-->
                <!--Showing 1 to 16 of 16 entries</div>-->
        <!--</div>-->
        <!--<div class="col-sm-7">-->
            <!--<div class="dataTables_paginate paging_simple_numbers" id="table3_paginate">-->
                <!--<ul class="pagination pull-right">-->




                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>