{% extends 'AdminCommonBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="beloop-admin">
        <ui-view></ui-view>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vendor.min.js') }}"></script>
    <script src="{{ asset('js/admin.min.js') }}"></script>
{% endblock %}