<div id="edit-profile" class="md-modal colored-header md-effect-1">
    <div class="md-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
            <h3 class="modal-title">{{ 'profile.edit_profile.text'|trans }}</h3>
        </div>
        <div class="modal-body form">
            {% include 'WebUserBundle:User:partials/edit_form.html.twig' with { 'user': user, 'form': form } %}
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default md-close">{{ 'cancel'|trans }}</button>
            <button type="submit" data-dismiss="modal" class="btn btn-primary" form="{{ form.vars.name }}">{{ 'save'|trans }}</button>
        </div>
    </div>
</div>