<form id="upload_users" action="#" class="dropzone dz-clickable">
    <div class="dz-message">
        <div class="icon"><span class="s7-cloud-upload"></span></div>
        <h2>Drop students CSV here</h2>
        <span class="note">Uploading...</span>
    </div>
</form>

<script type="text/javascript">
    var holder = document.getElementById('upload_users');

    var sendCSVContent = function (event) {
        $.post(
                Routing.generate('admin_course_enroll_users', { id: {{ courseId }} }),
                {
                    'csv': event.target.result
                }
        ).done(function() {
            console.log('upload success');
        });
    };

    holder.ondragover = function () {
        this.classList.add('hover');

        return false;
    };

    holder.ondragleave = function () {
        this.classList.remove('hover');

        return false;
    };

    holder.ondrop = function (event) {
        event.preventDefault();

        this.classList.remove('hover');

        var file = event.dataTransfer.files[0];
        var reader = new FileReader();

        reader.onload = sendCSVContent;

        console.log(file);
        reader.readAsText(file);

        return false;
    };
</script>