<form id="upload_users" action="#" class="dropzone dz-clickable">
    <div class="dz-message">
        <h2>Drop students CSV here</h2>
        <span class="note">Uploading...</span>
    </div>
</form>

<script type="text/javascript">
    window.onload = function () {
        var holder = document.getElementById('upload_users');
        var list = document.getElementById('list_users');

        var sendCSVContent = function (event) {
            $.post(
                    Routing.generate('admin_course_enroll_users', { id: {{ courseId }} }),
                    {
                        'csv': event.target.result
                    }
            ).done(function (response) {
                holder.classList.remove('uploading');
                holder.classList.remove('hover');

                list.outerHTML = response;
            }).fail(function (error) {
                holder.classList.remove('uploading');
                holder.classList.remove('hover');

                alert('Something went wrong uploading users. Please, check the logs');
                console.error(error);
            });
        };

        holder.ondragover = function () {
            this.classList.add('hover');

            return false;
        };

        holder.ondragleave = function () {
            this.classList.remove('hover');

            return false;
        };

        holder.ondrop = function (event) {
            event.preventDefault();

            this.classList.add('uploading');

            var file = event.dataTransfer.files[0];
            var reader = new FileReader();

            reader.onload = sendCSVContent;
            reader.readAsText(file);

            return false;
        };
    };
</script>